@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*,
html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
}

input[type='search']::placeholder {
  color: rgba(0, 0, 0, .2)
}

.btn-cart:hover {
  scale: 1.2;
  cursor: pointer;
}

.logo {
  text-decoration: none;
  color: #212529;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.card-image-middle {
  vertical-align: middle;
}

.order-summary {
  background-color: rgba(0, 0, 0, .2);
  padding: 5px;
  border-radius: 5px;
}

.btn-checkout:hover {
  background-color: #077441 !important;
  cursor: pointer;
}

.cart-table>tbody>tr>td {
  padding: 20px 0px;
  vertical-align: middle;
}

.product-image {
  width: 40%;
  margin-right: 4px;
  padding: 0px 5px;
  filter: alpha(opacity=20)
}

.btn-remove {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.btn-remove:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
}

.cart-quantity-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-quantity {
  display: flex;
  align-items: center;
  width: 100px;
  background-color: rgba(0, 0, 0, .4);
  justify-content: space-between;
  padding: 4px 10px;
  border-radius: 15px;
}

.cart-quantity>span:first-child {
  cursor: pointer;
  width: 25px;
  text-align: center;
}

.cart-quantity>span:nth-child(2) {
  text-align: center;
  flex-grow: 1;
}

.cart-quantity>span:last-child {
  cursor: pointer;
  width: 25px;
  text-align: center;
}

.action-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}